@model FineModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrafficFineSystemWeb</title>
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css//bootswatchTheme.css" asp-append-version="true" />
     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrafficFineSystemWeb.styles.css" asp-append-version="true" />
         <link rrel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
 
<form method="post">
        <div class="card  container my-4">
            <div class="card-header bg-success text-light ml-0  row ">
                <div class="col-12 col-md-6">
                    <h1 class="text-white">
                      <p class="">Fine Reference Number: @Model.FineId</p>

                    </h1>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row p-8">
                        <div class="col-8 col-lg-8">

                             <div class="row p-2">
                                <h4 class="text">License Number :  @Model.LicenseNumber</h4>
                            </div>


                             <div class="row p-2">
                                <h4 class="text">Vehicle Number :  @Model.VehicleNumber</h4>
                            </div>


                             <div class="row p-2">
                                <h4>Driver's Email :  @Model.DriversAdd.Email</h4>
                            </div>     
                            
                            <div class="row p-2">
                                <h4 class="text">Driver's Name :  @Model.DriversAdd.Name</h4>
                            </div> 
                            
                            <div class="row p-2">
                                <h4 class="text">Traffic Id :  @Model.TrafficId</h4>
                            </div>   
                            

                            <div class="row p-2">
                                <h4 class="text">Issued By :  @Model.TrafficAdd.Name</h4>
                            </div>        
                            
                            <div class="row p-2">
                                <h4 class="text">Issued City :  @Model.TrafficAdd.City</h4>
                            </div>         
                            
                            <div class="row p-2">
                                <h4 class="text">Issued Area :  @Model.TrafficAdd.Area</h4>
                            </div>

                            <div class="row p-2">
                                <h4 class="text">Fine Type :  @Model.FineType</h4>
                            </div>
                            <div class="row p-2">
                                <h4 class="text pb-2"> Fine Amount :  @Model.Amount</h4>
                            </div>
                
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1 text-large">
                       <a class="btn btn-success form-control " style="height:50px;" asp-action="Index">Back to Home</a>
                       
                       </div>
                    <div class="col-12 col-md-6 pb-1">
                  <a class="btn btn-success form-control " style="height:50px;" asp-controller="Home" asp-action="Pay">Proceed to Payment</a>

                    </div>
                </div>
            </div>
        </div>
</form>
</body>
</html>