@model FineModel

<form method="post">
    <input hidden asp-for="FineId"/>
        <div class="card  container">
            <div class="card-header bg-primary text-light ml-0  row ">
                <div class="col-12 col-md-6">
                    <h1 class="text-white-50"></h1>
                    <p class="text-warning">Fine Reference Number: @Model.FineId</p>
                </div>
            </div>
            <div class="card-body row container">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-8 col-lg-8">

                             <div class="row pl-2">
                                <h5 class="text-muted">License Number :  @Model.LicenseNumber</h5>
                            </div>

                             <div class="row pl-2">
                                <h5 class="text-muted">Vehicle Number :  @Model.VehicleNumber</h5>
                            </div>


                             <div class="row pl-2">
                                <h5 class="text-muted">Drivers Id :  @Model.DriverId</h5>
                            </div>     
                            
                            <div class="row pl-2">
                                <h5 class="text-muted">Drivers Name :  @Model.DriversAdd.Name</h5>
                            </div>       
                            <div class="row pl-2">
                                <h5 class="text-muted">Traffic Id :  @Model.TrafficId</h5>
                            </div>                            
                            <div class="row pl-2">
                                <h5 class="text-muted">Issued By :  @Model.TrafficAdd.Name</h5>
                            </div>

                            <div class="row pl-2">
                                <h5 class="text-muted">Fine Type :  @Model.FineType</h5>
                            </div>
                            <div class="row pl-2">
                                <h5 class="text-muted pb-2"> Price :  @Model.Amount</h5>
                            </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a class="btn btn-success form-control " style="height:50px;" asp-action="Index">Back to Home</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                  <a class="btn btn-success form-control " style="height:50px;" asp-action="Pay">Proceed to Payment</a>

                    </div>
                </div>
            </div>
        </div>
</form>
